@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bard-color-brand-text-gradient-stop-1:#4485f2;
    --bard-color-brand-text-gradient-stop-2:#9b72c9;
    --bard-color-brand-text-gradient-stop-3:#d8646f;

    --gem-sys-color--surface: #1d1e1f;
}

.gradient-text {
   background: linear-gradient(74deg,
   var(--bard-color-brand-text-gradient-stop-1) 0,
   var(--bard-color-brand-text-gradient-stop-2) 9%,
   var(--bard-color-brand-text-gradient-stop-3) 20%,
   var(--bard-color-brand-text-gradient-stop-3) 24%,
   var(--bard-color-brand-text-gradient-stop-2) 35%,
   var(--bard-color-brand-text-gradient-stop-1) 44%,
   var(--bard-color-brand-text-gradient-stop-2) 50%,
   var(--bard-color-brand-text-gradient-stop-3) 56%,
   var(--gem-sys-color--surface) 75%,
   var(--gem-sys-color--surface) 100%);

   background-size: 400% 100%;
   color: transparent;
    background-clip: text;
  -webkit-text-fill-color: transparent;
}